In [1]:
import pandas as pd
import numpy as np

In [2]:
## Notebook that allows get a Dataset information from Wikipedia table web. Also, we can clean of information for future 
## analyzing and comparation, show graphics with matplotlib, Seaborn library.

#Source: https://www.youtube.com/watch?v=KokJHxiE14s&t=323s

In [3]:
###Example HTML
"""<html>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email Address</th>
  </tr>
  <tr>
   <td>Hillary</td>
   <td>Nyakundi</td>
   <td>tables@mail.com</td>
  </tr>
  <tr>
    <td>Lary</td>
    <td>Mak</td>
    <td>developer@mail.com</td>
  </tr>
</table>
</html>"""

SyntaxError: invalid syntax (Temp/ipykernel_22668/3054794213.py, line 2)

In [ ]:
html_string = """
<html>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email Address</th>
  </tr>
  <tr>
   <td>Hillary</td>
   <td>Nyakundi</td>
   <td>tables@mail.com</td>
  </tr>
  <tr>
    <td>Lary</td>
    <td>Mak</td>
    <td>developer@mail.com</td>
  </tr>
</table>
</html>"""

In [ ]:
dfs = pd.read_html(html_string)
type(dfs)

##### Pull from Wikipedia

In [ ]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/100_meters')

In [ ]:
mens100m = dfs[5]
womens100m = dfs[6]

In [ ]:
mens100m.head()

In [ ]:
mens100m['Time'] = mens100m['Time'].str.replace('[A]','', regex=False) \
    .str.replace('h','', regex=False)
mens100m['Time']= pd.to_numeric(mens100m['Time'])

In [ ]:
womens100m['Time'] = womens100m['Time'].str.replace('[A]','', regex=False) \
    .str.replace('h','', regex=False) \
    .str.replace('[a]','', regex=False)
womens100m['Time'] = pd.to_numeric(womens100m['Time'])

In [ ]:
womens100m

In [ ]:
#Plot Data

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [ ]:
mens100m['Name'] = mens100m['Year'].astype('str') + ': '+mens100m['Athlete']
womens100m['Name'] = womens100m['Year'].astype('str') + ': '+mens100m['Athlete']

In [ ]:
import seaborn as sns
color_pal=sns.color_palette()

In [ ]:
fig, axs = plt.subplots(1, 2, figsize=(10,10))
mens100m.sort_values('Year', ascending=False)\
    .set_index('Name')['Time'].plot(kind='barh', ax=axs[0])
ax = axs[0].set_xlim(9.4, 10.2)
ax = axs[0].set_title('Mens Season Beast 100m Dash')

womens100m.sort_values('Year', ascending=False)\
    .set_index('Name')['Time'].plot(kind='barh', ax=axs[1],
                                color=color_pal[1])
ax = axs[1].set_xlim(10.4, 11.4)
ax = axs[1].set_title('Womens Season Beast 100m Dash')
plt.tight_layout()
plt.show()

In [ ]:
mens100m.to_csv('mens100m.txt', index=False)
womens100m.to_csv('womes100m.txt', index=False)